<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Home Page</title>
    <style>
        .container{
            margin-left: 3rem;
        }
        .cont-header{
            display: flex;
            flex-direction: row;
        }
        .btnAdd{
            margin-left: 5rem;
            height: 30px;
            margin-top: 25px;
        }
    </style>
</head>
<body>
    <!-- create navigation bar (header) -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:href="@{/}">
                    Lab Reporting App
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="container" th:object="${username}">

        <br><br>
        Welcome <th:block th:text="${username}"/>
        <div class="cont-header">
            <h1>Reports</h1>
            <!-- Add a button -->
            <a th:href="@{/reports/add}"
               class="btn btn-primary btn-sm mb-3 btnAdd">
                Add Report
            </a>
        </div>


        <table class="table table-bordered table-striped">

            <thead class="table-dark">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>TC No</th>
                    <th>Diagnosis Title</th>
                    <th>Diagnosis Detail</th>
                    <th>Date</th>
                    <th>Report File</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each = "tempReport : ${reports}">
                    <td th:text="${tempReport.firstName}"/>
                    <td th:text="${tempReport.lastName}"/>
                    <td th:text="${tempReport.tcNo}"/>
                    <td th:text="${tempReport.diagnosisTitle}"/>
                    <td th:text="${tempReport.diagnosisDetail}"/>
                    <td th:text="${tempReport.date}"/>
                    <td th:text="${tempReport.imageName}"/>
                    <!-- Add update button link -->
                    <td>
                        <a th:href="@{/reports/showFormForUpdate(reportId=${tempReport.id})}"
                                class="btn btn-info btn-sm">
                            Update
                        </a>
                        <!-- Add delete button link -->
                        <a th:href="@{/reports/delete(reportId=${tempReport.id})}"
                                class="btn btn-danger btn-sm"
                                onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">
                            Delete
                        </a>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>


</body>
</html>